JRE_HOME=/opt/java/jdk1.8.0_251_{{ tomcat_appname }}/jre
CATALINA_HOME=/opt/apache-tomcat-7.0.105_{{ tomcat_appname }}
JAVA_OPTS="$JAVA_OPTS -Djava.util.logging.manager=org.apache.juli.ClassLoaderLogManager -Xms{{ tomcat_xms }}m -Xmx{{ tomcat_xmx }}m -XX:MaxPermSize={{ tomcat_XX }}m -Dcom.ids.config.key='{{ tomcat_appconfigkey }}'-Dcom.ids.config.encrypted=1 -Dcom.ids.config.refresh=0 -Dcom.sun.xml.bind.v2.bytecode.ClassTailor.noOptimize=true -Dhttps.protocols='TLSv1.2,TLSv1.1,TLSv1' -Xdebug -Xrunjdwp:transport=dt_socket,address={{ tomcat_debugport }},server=y,suspend=n"
